* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#canvas {
  display: inline-block;
}
.option {
  border: 1px solid red;
  position: absolute;
  height: 10vh;
}
.option > button {
  height: 25px;
}
